/*
Message.css
Author: Derek Jeong
Description: Message.css is a css styling file for implementing styles, fonts, and design.
*/

.chatBox {
        height: 400px;
        overflow-y: auto;
        padding-top: 15px;
        padding-left: 10px;
        padding-bottom: 20px;
        border: 1px lightgray solid;
        text-align: left;   
}